.avatar_circle{
    border-radius: 20px;
    border: 1px solid #198754;
}

footer {
    height: 66px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.card {
    margin-top: 20px;
}